doctype html
html
  head
    title Armor - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-armor
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Armor

    .container.divider
      p D&D worlds are a vast tapestry made up of many different cultures, each with its own technology level. For this reason, adventurers have access to a variety of arm or types, ranging from leather armor to chain mail to costly plate armor, with several other kinds of arm or in between. The Armor table collects the most commonly available types of armor found in the game and separates them into three categories: light armor, medium armor, and heavy armor. Many warriors supplement their armor with a shield.

    .container
      .search-tut
      .search-block
        input(placeholder="Search for a topic")
        .search
          i(class="icon dripicons-search")
        .clear
          i(class="icon dripicons-cross")
      .armors.cols
        .armor
          ul.submenu
            li.c1 Name
            li.c2 Type
            li.c3 AC
            li.c4 Money
            li.c5 Negafier
          .c1
            p Cloth
            p Cloth
            p Cloth
            p Cloth
            p Cloth
            p Cloth
            p Leather
            p Leather
            p Leather
            p Leather
            p Leather
            p Leather
            p Hide
            p Hide
            p Hide
            p Hide
            p Hide
            p Hide
            p Chainmail
            p Chainmail
            p Chainmail
            p Chainmail
            p Chainmail
            p Chainmail
            p Scale
            p Scale
            p Scale
            p Scale
            p Scale
            p Scale
            p Plate
            p Plate
            p Plate
            p Plate
            p Shield
            p Shield
            p Shield
            p Shield
            p Shield
          .c2
            p Basic
            p Feyweave
            p Padded
            p Studded
            p Starweave
            p Banded
            p Basic
            p Feyweave
            p Padded
            p Studded
            p Starweave
            p Banded
            p Basic
            p Padded
            p Studded
            p Darkhide
            p Elderhide
            p Splint
            p Basic
            p Padded
            p Studded
            p Banded
            p Forgemail
            p Spiritmail
            p Basic
            p Padded
            p Studded
            p Banded
            p Wyrmscale
            p Elderscale
            p Basic
            p Holy
            p Warplate
            p Godplate
            p Small Wooden
            p Big Wooden
            p Small Metal
            p Big Metal
            p Heavy Metal
          .c3
            p -
            p +1
            p +1
            p +2
            p +2
            p +3
            p +2
            p +3
            p +3
            p +4
            p +4
            p +5
            p +3
            p +4
            p +5
            p +4
            p +5
            p +6
            p +6
            p +7
            p +8
            p +9
            p +9
            p +12
            p +7
            p +8
            p +9
            p +10
            p +10
            p +13
            p +9
            p +11
            p +12
            p +15
            p +1
            p +2
            p +1
            p +2
            p +3
          .c4
            p 1
            p 125
            p 130
            p 300
            p 300
            p 500
            p 25
            p 125
            p 130
            p 250
            p 300
            p 500
            p 30
            p 250
            p 300
            p 300
            p 550
            p 700
            p 40
            p 400
            p 500
            p 500
            p 800
            p 1500
            p 45
            p 600
            p 750
            p 750
            p 900
            p 1800
            p 50
            p 1000
            p 1200
            p 2000
            p 5
            p 10
            p 12
            p 20
            p 50
          .c5
            p -
            p -
            p -
            p -
            p -
            p -
            p -
            p -
            p -
            p -
            p -
            p -
            p 1
            p 1
            p 1
            p 1
            p 1
            p 1
            p 2
            p 2
            p 2
            p 2
            p 2
            p 2
            p 1
            p 1
            p 1
            p 1
            p 1
            p 1
            p 3
            p 3
            p 3
            p 4
            p -
            p -
            p 1
            p 2
            p 3
        .divider.clear
