doctype html
html
  head
    title Armor - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-armor
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Armor

    .container.divider
      p D&D worlds are a vast tapestry made up of many different cultures, each with its own technology level. For this reason, adventurers have access to a variety of arm or types, ranging from leather armor to chain mail to costly plate armor, with several other kinds of arm or in between. The Armor table collects the most commonly available types of armor found in the game and separates them into three categories: light armor, medium armor, and heavy armor. Many warriors supplement their armor with a shield.

    .container
      include /search.pug
      .armors.cols.search-result
        ul.submenu
          li.c1 Name
          li.c2 Type
          li.c3 AC
          li.c4 Money
          li.c5 Negafier
        .armor.show-result.seRe
          .c1 Cloth
          .c2.searchable
            | Basic
            span Cloth
          .c3 -
          .c4 1
          .c5 -
        .armor.show-result.seRe
          .c1 Cloth
          .c2.searchable
            | Feyweave
            span Cloth
          .c3 +1
          .c4 125
          .c5 -
        .armor.show-result.seRe
          .c1 Cloth
          .c2.searchable
            | Padded
            span Cloth
          .c3 +1
          .c4 130
          .c5 -
        .armor.show-result.seRe
          .c1 Cloth
          .c2.searchable
            | Studded
            span Cloth
          .c3 +2
          .c4 300
          .c5 -
        .armor.show-result.seRe
          .c1 Cloth
          .c2.searchable
            | Starweave
            span Cloth
          .c3 +2
          .c4 300
          .c5 -
        .armor.show-result.seRe
          .c1 Cloth
          .c2.searchable
            | Banded
            span Cloth
          .c3 +3
          .c4 500
          .c5 -
        .armor.show-result.seRe
          .c1 Leather
          .c2.searchable
            | Basic
            span Leather
          .c3 +2
          .c4 25
          .c5 -
        .armor.show-result.seRe
          .c1 Leather
          .c2.searchable
            | Feyweave
            span Leather
          .c3 +3
          .c4 125
          .c5 -
        .armor.show-result.seRe
          .c1 Leather
          .c2.searchable
            | Padded
            span Leather
          .c3 +3
          .c4 130
          .c5 -
        .armor.show-result.seRe
          .c1 Leather
          .c2.searchable
            | Studded
            span Leather
          .c3 +4
          .c4 250
          .c5 -
        .armor.show-result.seRe
          .c1 Leather
          .c2.searchable
            | Starweave
            span Leather
          .c3 +4
          .c4 300
          .c5 -
        .armor.show-result.seRe
          .c1 Leather
          .c2.searchable
            | Banded
            span Leather
          .c3 +5
          .c4 500
          .c5 -
        .armor.show-result.seRe
          .c1 Hide
          .c2.searchable
            | Basic
            span Hide
          .c3 +3
          .c4 30
          .c5 1
        .armor.show-result.seRe
          .c1 Hide
          .c2.searchable
            | Padded
            span Hide
          .c3 +4
          .c4 250
          .c5 1
        .armor.show-result.seRe
          .c1 Hide
          .c2.searchable
            | Studded
            span Hide
          .c3 +5
          .c4 300
          .c5 1
        .armor.show-result.seRe
          .c1 Hide
          .c2.searchable
            | Darkhide
            span Hide
          .c3 +4
          .c4 300
          .c5 1
        .armor.show-result.seRe
          .c1 Hide
          .c2.searchable
            | Elderhide
            span Hide
          .c3 +5
          .c4 550
          .c5 1
        .armor.show-result.seRe
          .c1 Hide
          .c2.searchable
            | Splint
            span Hide
          .c3 +6
          .c4 700
          .c5 1
        .armor.show-result.seRe
          .c1 Chainmail
          .c2.searchable
            | Basic
            span Chainmail
          .c3 +6
          .c4 40
          .c5 2
        .armor.show-result.seRe
          .c1 Chainmail
          .c2.searchable
            | Padded
            span Chainmail
          .c3 +7
          .c4 400
          .c5 2
        .armor.show-result.seRe
          .c1 Chainmail
          .c2.searchable
            | Studded
            span Chainmail
          .c3 +8
          .c4 500
          .c5 2
        .armor.show-result.seRe
          .c1 Chainmail
          .c2.searchable
            | Banded
            span Chainmail
          .c3 +9
          .c4 500
          .c5 2
        .armor.show-result.seRe
          .c1 Chainmail
          .c2.searchable
            | Forgemail
            span Chainmail
          .c3 +9
          .c4 800
          .c5 2
        .armor.show-result.seRe
          .c1 Chainmail
          .c2.searchable
            | Spiritmail
            span Chainmail
          .c3 +12
          .c4 1500
          .c5 2
        .armor.show-result.seRe
          .c1 Scale
          .c2.searchable
            | Basic
            span Scale
          .c3 +7
          .c4 45
          .c5 1
        .armor.show-result.seRe
          .c1 Scale
          .c2.searchable
            | Padded
            span Scale
          .c3 +8
          .c4 600
          .c5 -
        .armor.show-result.seRe
          .c1 Scale
          .c2.searchable
            | Studded
            span Scale
          .c3 +9
          .c4 750
          .c5 1
        .armor.show-result.seRe
          .c1 Scale
          .c2.searchable
            | Banded
            span Scale
          .c3 +10
          .c4 750
          .c5 1
        .armor.show-result.seRe
          .c1 Scale
          .c2.searchable
            | Wyrmscale
            span Scale
          .c3 +10
          .c4 900
          .c5 1
        .armor.show-result.seRe
          .c1 Scale
          .c2.searchable
            | Elderscale
            span Scale
          .c3 +13
          .c4 1800
          .c5 1
        .armor.show-result.seRe
          .c1 Plate
          .c2.searchable
            | Basic
            span Plate
          .c3 +9
          .c4 50
          .c5 3
        .armor.show-result.seRe
          .c1 Plate
          .c2.searchable
            | Holy
            span Plate
          .c3 +11
          .c4 1000
          .c5 3
        .armor.show-result.seRe
          .c1 Plate
          .c2.searchable
            | Warplate
            span Plate
          .c3 +12
          .c4 1200
          .c5 3
        .armor.show-result.seRe
          .c1 Plate
          .c2.searchable
            | Godplate
            span Plate
          .c3 +15
          .c4 2000
          .c5 4
        .armor.show-result.seRe
          .c1 Shield
          .c2.searchable
            | Small Wooden
            span Shield
          .c3 +1
          .c4 5
          .c5 -
        .armor.show-result.seRe
          .c1 Shield
          .c2.searchable
            | Big Wooden
            span Shield
          .c3 +2
          .c4 10
          .c5 -
        .armor.show-result.seRe
          .c1 Shield
          .c2.searchable
            | Small Metal
            span Shield
          .c3 +1
          .c4 12
          .c5 1
        .armor.show-result.seRe
          .c1 Shield
          .c2.searchable
            | Big Metal
            span Shield
          .c3 +2
          .c4 20
          .c5 2
        .armor.show-result.seRe
          .c1 Shield
          .c2.searchable
            | Heavy Metal
            span Shield
          .c3 +3
          .c4 50
          .c5 3
        .divider.clear

    include /footer.pug
