.pages {
  .container > p {
    margin-bottom: 20px;
  }
}

// Feats
.page-feats {
  p {
    margin-bottom: 20px;
  }
}

.feats {
  .feat {
    text-align: left;
    border: 1px solid $_blue;
    border-top: none;
    border-bottom: none;
    background-color: $_blue;
    padding: 0 30px 0px 30px;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0px;
    border-radius: 5px;

    h2, p {
      max-width: none;
    }

    p {
      margin-bottom: 0px;
    }

    ul {
      margin-left: 20px;
      margin-bottom: 0px;
    }

    &:hover {
      border: 1px solid $primary;
      background-color: $white;
    }

    &.show-result {
      border: 1px solid $_blue;
      padding: 0 30px 0px 30px;
      max-height: 600px;
      margin-bottom: 20px;

      ul, p {
        margin-bottom: 20px;
      }

      &:hover {
        border: 1px solid $primary;
      }
    }
  }
}

// Weapons
.page-weapons {

}

.weapons {
  .weapon-melee,
  .weapon-ranged {
    margin-bottom: 5px;
    @include clearfix();
    display: none;
    transform: all .2s;

    &.show-result {
      display: block;
    }

    &:hover {
      background-color: $__grey;
    }
  }
}

// Armor
.page-armor {

}

.armors {
  .armor {
    margin-bottom: 5px;
    @include clearfix();
    display: none;
    transform: all .2s;

    &.show-result {
      display: block;
    }

    .searchable {
      span {
        display: none;
      }
    }

    &:hover {
      background-color: $__grey;
    }
  }
}

// Languages
.page-languages .cols {
  .c1, .c2, .c3 {
    width: 33.33%;
  }
}

.languages {
  .language {
    margin-bottom: 5px;
    @include clearfix();
    display: none;
    transition: all .2s;

    &.show-result {
      display: block;
    }

    &:hover {
      background-color: $__grey;
    }
  }
}

// Tools
.page-tools .cols {
  .c1 {
    width: 18%;
  }
  .c2 {
    width: 72%;
  }
  .c3 {
    width: 10%;
  }
}

.tools {
  .tool {
    margin-bottom: 5px;
    @include clearfix();
    display: none;
    transition: all .2s;

    &.show-result {
      display: block;
    }

    &:hover {
      background-color: $__grey;
    }
  }
}

// Gods
.page-gods {

}

.gods {
  .god, .submenu {
    margin-bottom: 5px;
    @include clearfix();

    .c1 {
      width: 36%;
    }
    .c2 {
      width: 10%;
    }
    .c3 {
      width: 18%;
    }
    .c4 {
      width: 36%;
    }
  }

  .god {
    display: none;
    transition: all .2s;

    &.show-result {
      display: block;
    }

    &:hover {
      background-color: $__grey;
    }
  }
}

// Spells
.page-spells {

}

.spells {
  clear: both;

  .spell, .submenu {
    transition: none;
    cursor: pointer;
    display: block;

    .c1 {
      width: 29%;
    }
    .c2 {
      width: 9%;
    }
    .c3 {
      width: 15%;
    }
    .c4 {
      width: 8%;
    }
    .c5 {
      width: 13%;
    }
    .c6 {
      width: 13%;
    }
    .c7 {
      width: 13%;
    }

    .description, .classes {
      display: none;
    }

    &:hover {
      .c1, .c2, .c3, .c4, .c5, .c6, .c7 {
        color: $blue;
      }
    }

    &.active {
      padding: 20px;
      margin: 0 -20px;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: $_blue;
      clear: both;
      position: relative;
      top: 5px;

      .c1, .c2, .c3, .c4, .c5, .c6, .c7 {
        color: $grey_;
      }

      .description, .classes {
        display: block;
        margin-top: 10px;
      }
    }

    &.hide-spell {
      display: none;
    }
  }
}

// Sorting
.sorting {
  background-color: $__grey;
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  .sortTitle {
    text-transform: uppercase;
    color: $black;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .total {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: $_grey;
    padding: 5px 10px;
    text-align: center;
  }

  ul {
    list-style-type: none;

    li {
      label {
        input {
          margin-right: 5px;
        }
      }
    }
  }
}

// Rules
.sayings {
  list-style-type: none;
  text-align: left;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;

  .saying {
    border-bottom: 1px solid $_grey;
    padding-bottom: 30px;
    margin-bottom: 30px;

    h3 {
      margin-bottom: 0;

      &:before {
        content: "[ ";
      }

      &:after {
        content: " ]";
      }

      span {
        background-color: $black;
        border-radius: 50%;
        display: inline-block;
        width: 5px;
        height: 5px;
        position: relative;
        top: -3px;
      }
    }

    h4 {
      text-transform: uppercase;
      color: $grey;
      margin-bottom: 20px;
      font-weight: 100;
      font-size: 13px;
    }

    p {
      padding-left: 30px;
    }

    .grid-levels {
      border-left: 1px solid $_grey;
      border-top: 1px solid $_grey;
      margin-left: 30px;
      margin-top: 30px;

      .lvl {
        border-right: 1px solid $_grey;
        border-bottom: 1px solid $_grey;
        padding: 0;
        margin: 0;
        width: calc(20% - 1px);
        float: left;
        padding: 20px 0;
        text-align: center;
        color: $black;
        font-weight: bold;

        span {
          font-weight: normal;
          display: block;
          color: $primary;
        }

        &.active {
          background-color: $__grey;
          color: $blue;
        }
      }
    }
  }
}
