.pages {
  .container > p {
    margin-bottom: 20px;
  }
}

// Feats
.page-feats {
  p {
    margin-bottom: 20px;
  }
}

.feats {
  .feat {
    text-align: left;
    border: 1px solid $_blue;
    border-top: none;
    border-bottom: none;
    background-color: $_blue;
    padding: 0 30px 0px 30px;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0px;
    border-radius: 5px;

    h2, p {
      max-width: none;
    }

    h2 {

    }

    p {
      margin-bottom: 0px;
    }

    ul {
      margin-left: 20px;
      margin-bottom: 0px;
    }

    &:hover {
      border: 1px solid $primary;
      background-color: $white;
    }

    &.show-result {
      border: 1px solid $_blue;
      padding: 0 30px 0px 30px;
      max-height: 600px;
      margin-bottom: 20px;

      ul, p {
        margin-bottom: 20px;
      }

      &:hover {
        border: 1px solid $primary;
      }
    }
  }
}

// Weapons
.page-weapons {

}

.weapons {

}

// Armor
.page-armor {

}

.armor {

}

// Spells
.page-spells {

}

.spells {
  clear: both;

  .spell, .submenu {
    transition: none;
    cursor: pointer;

    .c1 {
      width: 29%;
    }
    .c2 {
      width: 9%;
    }
    .c3 {
      width: 15%;
    }
    .c4 {
      width: 8%;
    }
    .c5 {
      width: 13%;
    }
    .c6 {
      width: 13%;
    }
    .c7 {
      width: 13%;
    }

    .description, .classes {
      display: none;
    }

    &.active {
      padding: 20px;
      margin: 0 -20px;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: $_blue;
      clear: both;
      position: relative;
      top: 5px;

      .description, .classes {
        display: block;
        margin-top: 10px;
      }

      .classes {

      }
    }
  }
}

// Sorting
.sorting {
  background-color: $__grey;
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;

  .c1, .c2, .c3, .c4, .c5, .c6 {
    float: left;
    width: 16.66%;
  }

  .c1 {
    width: 16.66%;
  }

  .sortTitle {
    text-transform: uppercase;
    color: $black;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  ul {
    list-style-type: none;

    li {
      label {
        input {
          margin-right: 5px;
        }
      }
    }
  }
}
