.small-divider
h3 General documents
.grid
  .grid-item
    a(href="https://www.dropbox.com/s/bhni1dojlovtve3/d%26d_intro_without_dm.pdf?dl=0", target="_blank" class="grid-c")
      .icon
        img(src="/images/icons/core/file.svg", height="25")
      h3 Introduction
      p Character creation
      span Dark Matters
  .clear
.small-divider
h3.clear The player (sheets)
.grid
  .grid-item
    a(href="https://www.dropbox.com/s/bhkeglg0wl3u9eq/d%26d-sheets%20-%20Amafrey.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/activity.svg", height="25")
      h3 Amafrey
      span Barbarian
      p The Brute
