.small-divider
h3 General documents
.grid
  .grid-item
    a(href="https://www.dropbox.com/s/z8jmd7s3gn0xdix/d%26d_intro_full.pdf?dl=0", target="_blank" class="grid-c")
      .icon
        img(src="/images/icons/core/file.svg", height="25")
      h3 Introduction
      p Character creation
      span Dark Matters
  .clear
.small-divider
h3.clear The player: Group1
.grid
  .grid-item
    a(href="https://www.dropbox.com/s/ry8vt723pjmd35j/d%26d-sheets%20-%20Sven.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/activity.svg", height="25")
      h3 Dalmor Metaltoe
      span Sven
      p Dwarf Fighter
  .grid-item
    a(href="https://www.dropbox.com/s/z24nd9nwhddu9r4/d%26d-sheets%20-%20Shaitan.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/cloud.svg", height="25")
      h3 Shaitan Shédim
      span Deef
      p Tiefling Druid
  .grid-item
    a(href="https://www.dropbox.com/s/2ncvcuc6f9vyg1h/d%26d-sheets%20-%20Thecis.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/location/crosshair.svg", height="25")
      h3 Thecis
      span Vincent
      p Tiefling Warlock
  .grid-item
    a(href="https://www.dropbox.com/s/wp6a64u0y243rye/d%26d-sheets%20-%20Wesley.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/user.svg", height="25")
      h3 Vanavor Valxisys
      span Wesley
      p Half-Elf Ranger
.small-divider
h3.clear The player: Group2
.grid
  .grid-item
    a(href="https://www.dropbox.com/s/88paav6jvddogdj/d%26d-sheets%20-%20Bull.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/star.svg", height="25")
      h3 Bull
      span Saar
      p Human Paladin
  .grid-item
    a(href="https://www.dropbox.com/s/6rnx6uvdrg97dhh/d%26d-sheets%20-%20Drake.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/book.svg", height="25")
      h3 Drake
      span Raf
      p Dragonborn Sorcerer
  .grid-item
    a(href="https://www.dropbox.com/s/37esl0dun8peuoe/d%26d-sheets%20-%20Iroona.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/user.svg", height="25")
      h3 Iroona
      span Gwendolyn
      p Half-Elf Ranger
  .grid-item
    a(href="https://www.dropbox.com/s/p2n62xwh00rd14x/d%26d-sheets%20-%20Vicovar.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/zap.svg", height="25")
      h3 Vicovar
      span Silke
      p Halfling Rogue
