doctype html
html
  head
    title Gods - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-gods
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Deities

    .container.divider
      p Religion is an important part of life in the worlds of the D&D multiverse. When gods walk the world, clerics channel divine power, evil cults perform dark sacrifices in subterranean lairs, and shining paladins stand like beacons against the darkness, it’s hard to be ambivalent about the deities and deny their existence.

    .container
      include /search.pug
      .gods.cols.search-result
        ul.submenu
          li.c1 Deity
          li.c2 Alignment
          li.c3 Suggested Domains
          li.c4 Symbol
        .god.show-result.seRe
          .c1.searchable Beory, goddess of nature
          .c2 N
          .c3 Nature
          .c4 Green disk
        .god.show-result.seRe
          .c1.searchable Boccob, god of magic
          .c2 N
          .c3 Knowledge
          .c4 Eye within a pentagram
        .god.show-result.seRe
          .c1.searchable Celestian, god of stars and wanderers
          .c2 N
          .c3 Knowledge
          .c4 Arc of seven stars inside a circle
        .god.show-result.seRe
          .c1.searchable Ehlonna, goddess of woodlands
          .c2 NG
          .c3 Life, Nature
          .c4 Unicorn horn
        .god.show-result.seRe
          .c1.searchable Erythnul, god of envy and slaughter
          .c2 CE
          .c3 War
          .c4 Blood drop
        .god.show-result.seRe
          .c1.searchable Fharlanghn, god of horizons and travel
          .c2 NG
          .c3 Knowledge, Trickery
          .c4 Circle crossed by a curved horizon line
        .god.show-result.seRe
          .c1.searchable Heironeous, god of chivalry and valor
          .c2 LG
          .c3 War
          .c4 Lightning bolt
        .god.show-result.seRe
          .c1.searchable Hextor, god of war and discord
          .c2 LE
          .c3 War
          .c4 Six arrows facing downward in a fan
        .god.show-result.seRe
          .c1.searchable Kord, god of athletics and sport
          .c2 CG
          .c3 Tempest, War
          .c4 Four spears and four maces radiating out from a central point
        .god.show-result.seRe
          .c1.searchable Incabulos, god of plague and famine
          .c2 NE
          .c3 Death
          .c4 Reptilian eye with a horizontal diamond
        .god.show-result.seRe
          .c1.searchable Istus, goddess of fate and destiny
          .c2 N
          .c3 Knowledge
          .c4 Weaver's spindle with three strands
        .god.show-result.seRe
          .c1.searchable Iuz, god of pain and oppression
          .c2 CE
          .c3 Death
          .c4 Grinning human skull
        .god.show-result.seRe
          .c1.searchable Nerull, god of death
          .c2 NE
          .c3 Death
          .c4 Skull with either a sickle or a scythe
        .god.show-result.seRe
          .c1.searchable Obad-Hai, god of nature
          .c2 N
          .c3 Nature
          .c4 Oak leaf and acorn
        .god.show-result.seRe
          .c1.searchable Olidammara, god of revelry
          .c2 CN
          .c3 Trickery
          .c4 Laughing mask
          Trickery Laughing mask
        .god.show-result.seRe
          .c1.searchable Pelor, god of the sun and healing
          .c2 NG
          .c3 Life, Light
          .c4 Sun
        .god.show-result.seRe
          .c1.searchable Pholtus, god of light and law
          .c2 LG
          .c3 Light
          .c4 Silver sun or full moon partially eclipsed by a smaller crescent moon
        .god.show-result.seRe
          .c1.searchable Ralishaz, god of ill luck and insanity
          .c2 CN
          .c3 Trickery
          .c4 Three bone fate-casting sticks
        .god.show-result.seRe
          .c1.searchable Rao, god of peace and reason
          .c2 LG
          .c3 Knowledge
          .c4 White heart
        .god.show-result.seRe
          .c1.searchable St. Cuthbert, god of common sense and zeal
          .c2 LN
          .c3 Knowledge
          .c4 Circle at the center of a starburst of lines
        .god.show-result.seRe
          .c1.searchable Tharizdun, god of eternal darkness
          .c2 CE
          .c3 Trickery
          .c4 Dark spiral or inverted ziggurat
        .god.show-result.seRe
          .c1.searchable Trithereon, god of liberty and retribution
          .c2 CG
          .c3 War
          .c4 Triskelion
        .god.show-result.seRe
          .c1.searchable Ulaa, goddess of hills and mountains
          .c2 LG
          .c3 Life, War
          .c4 Mountain with a circle at its heart
        .god.show-result.seRe
          .c1.searchable Vecna, god of evil secrets
          .c2 NE
          .c3 Knowledge
          .c4 Hand with eye in the palm
        .god.show-result.seRe
          .c1.searchable Wee Jas, goddess of magic and death
          .c2 LN
          .c3 Death, Knowledge
          .c4 Red skull in front of fireball
        .divider.clear

    include /footer.pug
