doctype html
html
  head
    title Spells - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-spells
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Spells

    .container.divider
      p A spell is a discrete magical effect, a single shaping of the magical energies that suffuse the multiverse into a specific, limited expression. In casting a spell, a character carefully plucks at the invisible strands of raw magic suffusing the world, pins them in place in a particular pattern, sets them vibrating in a specific way, and then releases them to unleash the desired effect—in most cases, all in the span of seconds.

    .container
      .sorting
        .total 300
        .c0
          .sortTitle Class
          ul
            li
              label
                input(type="checkbox")
                | Barbarian
            li
              label
                input(type="checkbox")
                | Bard
            li
              label
                input(type="checkbox")
                | Cleric
            li
              label
                input(type="checkbox")
                | Druid
            li
              label
                input(type="checkbox")
                | Fighter
            li
              label
                input(type="checkbox")
                | Monk
            li
              label
                input(type="checkbox")
                | Paladin
            li
              label
                input(type="checkbox")
                | Ranger
            li
              label
                input(type="checkbox")
                | Rogue
            li
              label
                input(type="checkbox")
                | Sorcerer
            li
              label
                input(type="checkbox")
                | Warlock
            li
              label
                input(type="checkbox")
                | Wizard
        .c1
          .sortTitle Level
          ul
            li
              label
                input(type="checkbox")
                | Cantrip
            li
              label
                input(type="checkbox")
                | Level 1
            li
              label
                input(type="checkbox")
                | Level 2
            li
              label
                input(type="checkbox")
                | Level 3
            li
              label
                input(type="checkbox")
                | Level 4
            li
              label
                input(type="checkbox")
                | Level 5
            li
              label
                input(type="checkbox")
                | Level 6
            li
              label
                input(type="checkbox")
                | Level 7
            li
              label
                input(type="checkbox")
                | Level 8
        .c2
          .sortTitle School
          ul
            li
              label
                input(type="checkbox")
                | Abjuration
            li
              label
                input(type="checkbox")
                | Conjuration
            li
              label
                input(type="checkbox")
                | Divination
            li
              label
                input(type="checkbox")
                | Enchantment
            li
              label
                input(type="checkbox")
                | Evocation
            li
              label
                input(type="checkbox")
                | Illusion
            li
              label
                input(type="checkbox")
                | Necromancy
            li
              label
                input(type="checkbox")
                | Transmutation
        .c3
          .sortTitle Ritual
          ul
            li
              label
                input(type="checkbox")
                | Yes
            li
              label
                input(type="checkbox")
                | No
        .c4
          .sortTitle Casting time
          ul
            li
              label
                input(type="checkbox")
                | 1 Action
            li
              label
                input(type="checkbox")
                | 1 Bonus
            li
              label
                input(type="checkbox")
                | 1 Minute
            li
              label
                input(type="checkbox")
                | 10 Minutes
            li
              label
                input(type="checkbox")
                | 1 Hour
            li
              label
                input(type="checkbox")
                | 8 Hours
            li
              label
                input(type="checkbox")
                | Special
        .c5
          .sortTitle Components
          ul
            li
              label
                input(type="checkbox")
                | V
            li
              label
                input(type="checkbox")
                | S
            li
              label
                input(type="checkbox")
                | M
            li
              label
                input(type="checkbox")
                | V, S
            li
              label
                input(type="checkbox")
                | V, M
            li
              label
                input(type="checkbox")
                | S, M
            li
              label
                input(type="checkbox")
                | V, S, M
        .c6
          .sortTitle Concentration
          ul
            li
              label
                input(type="checkbox")
                | Yes
            li
              label
                input(type="checkbox")
                | No
        .clear
      .spells.cols
        ul.submenu
          li.c1 Name
          li.c2 Level
          li.c3 School
          li.c4 Ritual
          li.c5 Casting Time
          li.c6 Components
          li.c7 Concentration
    .divider

    include /footer.pug
