doctype html
html
  head
    title Spells - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-spells
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Spells

    .container.divider
      p A spell is a discrete magical effect, a single shaping of the magical energies that suffuse the multiverse into a specific, limited expression. In casting a spell, a character carefully plucks at the invisible strands of raw magic suffusing the world, pins them in place in a particular pattern, sets them vibrating in a specific way, and then releases them to unleash the desired effect—in most cases, all in the span of seconds.

    .container
      .sorting
        ul
          li
            input(type="checkbox")
              Some
          li
            input(type="checkbox")
              Some
          li
            input(type="checkbox")
              Some
      .spells.cols
        ul.submenu
          li.c1 Name
          li.c2 Level
          li.c3 School
          li.c4 Ritual
          li.c5 Casting Time
          li.c6 Components
          li.c7 Concentration
    .divider

    include /footer.pug
