doctype html
html
  head
    title Weapons - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-weapons
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Weapons

    .container.divider
      p Your class grants proficiency in certain weapons, reflecting both the class's focus and the tools you are most likely to use. Whether you favor a longsword or a longbow, your weapon and your ability to wield it effectively can mean the difference between life and death while adventuring.
      p The Weapons table shows the most common weapons used in the worlds of D&D, their price and weight, the damage they deal when they hit, and any special properties they possess. Every weapon is classified as either melee or ranged. A melee weapon is used to attack a target within 5 feet of you, whereas a ranged weapon is used to attack a target at a distance.

    .container
      include /search.pug
      .weapons.cols.search-result
        h2.text-center Simple melee weapons
        ul.submenu
          li.c1 Name
          li.c2 Type
          li.c3 Damage
          li.c4 Money
          li.c5 Range
        .weapon-melee.show-result.seRe
          .c1.searchable Club
          .c2 Simple 1h
          .c3 1d4
          .c4 1gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Dagger
          .c2 Simple 1h
          .c3 1d4
          .c4 1gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Javelin
          .c2 Simple 1h
          .c3 1d6
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Mace
          .c2 Simple 1h
          .c3 1d6
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Sickle
          .c2 Simple 1h
          .c3 1d4
          .c4 2gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Spear
          .c2 Simple 2h
          .c3 1d6
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Greatclub
          .c2 Simple 2h
          .c3 1d8
          .c4 1gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Quarterstaff
          .c2 Simple 2h
          .c3 1d6
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Handaxe
          .c2 Simple 1h
          .c3 1d6
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Throw Hammer
          .c2 Simple 1h
          .c3 1d4
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Spiked Chain
          .c2 Simple 1h
          .c3 1d4
          .c4 30gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Any
          .c2 Simple 1h
          .c3 -
          .c4 -
          .c5 -
        .divider.clear
        h2.text-center Martial melee weapons
        ul.submenu
          li.c1 Name
          li.c2 Type
          li.c3 Damage
          li.c4 Money
          li.c5 Range
        .weapon-melee.show-result.seRe
          .c1.searchable Morningstar
          .c2 Martial 1h
          .c3 1d8
          .c4 10gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Scythe
          .c2 Martial 2h
          .c3 1d10
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Battleaxe
          .c2 Martial 1h
          .c3 1d8
          .c4 15gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Flail
          .c2 Martial 1h
          .c3 1d8
          .c4 10gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Longsword
          .c2 Martial 1h
          .c3 1d8
          .c4 15gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Scimitar
          .c2 Martial 1h
          .c3 1d6
          .c4 10gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Shortsword
          .c2 Martial 1h
          .c3 1d6
          .c4 10gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Warhammer
          .c2 Martial 2h
          .c3 1d8
          .c4 15gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable War Pick
          .c2 Martial 1h
          .c3 1d8
          .c4 15gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Falchion
          .c2 Martial 1h
          .c3 1d8
          .c4 25gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Glaive
          .c2 Martial 2h
          .c3 1d10
          .c4 25gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Greataxe
          .c2 Martial 2h
          .c3 1d12
          .c4 30gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Greatsword
          .c2 Martial 2h
          .c3 2d6
          .c4 30gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Halberd
          .c2 Martial 2h
          .c3 1d10
          .c4 25gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Lance
          .c2 Martial 1h
          .c3 1d12
          .c4 15gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Trident
          .c2 Martial 1h
          .c3 1d6
          .c4 5gp
          .c5 6/20
        .weapon-melee.show-result.seRe
          .c1.searchable Whip
          .c2 Martial 1h
          .c3 1d4
          .c4 5gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Heavy Flail
          .c2 Martial 2h
          .c3 1d10
          .c4 25gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Maul
          .c2 Martial 2h
          .c3 2d6
          .c4 30gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Bastard Sword
          .c2 Martial 2h
          .c3 1d10
          .c4 30gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Katar
          .c2 Martial 1h
          .c3 1d6
          .c4 3gp
          .c5 -
        .weapon-melee.show-result.seRe
          .c1.searchable Rapier
          .c2 Martial 1h
          .c3 1d8
          .c4 25gp
          .c5 -
        .divider.clear
        h2.text-center Simple ranged weapons
        ul.submenu
          li.c1.searchable Name
          li.c2 Type
          li.c3 Damage
          li.c4 Money
          li.c5 Range
        .weapon-ranged.show-result.seRe
          .c1.searchable Light crossbow
          .c2 Simple 2h
          .c3 1d8
          .c4 25sp
          .c5 15/60
        .weapon-ranged.show-result.seRe
          .c1.searchable Dart
          .c2 Simple 1h
          .c3 1d4
          .c4 5sp
          .c5 10/20
        .weapon-ranged.show-result.seRe
          .c1.searchable Shortbow
          .c2 Simple 2h
          .c3 1d6
          .c4 25gp
          .c5 15/60
        .weapon-ranged.show-result.seRe
          .c1.searchable Sling
          .c2 Simple 1h
          .c3 1d4
          .c4 1gp
          .c5 10/20
        .divider.clear
        h2.text-center Martial ranged weapons
        ul.submenu
          li.c1.searchable Name
          li.c2 Type
          li.c3 Damage
          li.c4 Money
          li.c5 Range
        .weapon-ranged.show-result.seRe
          .c1.searchable Hand Crossbow
          .c2 Martial 1h
          .c3 1d6
          .c4 25gp
          .c5 10/20
        .weapon-ranged.show-result.seRe
          .c1.searchable Blowgun
          .c2 Martial 1h
          .c3 1
          .c4 10gp
          .c5 5/15
        .weapon-ranged.show-result.seRe
          .c1.searchable Crossbow
          .c2 Martial 2h
          .c3 1d10
          .c4 50gp
          .c5 30/60
        .weapon-ranged.show-result.seRe
          .c1.searchable Longbow
          .c2 Martial 2h
          .c3 1d8
          .c4 50gp
          .c5 20/80
        .weapon-ranged.show-result.seRe
          .c1.searchable Net
          .c2 Martial 1h
          .c3 -
          .c4 1gp
          .c5 1/5
        .weapon-ranged.show-result.seRe
          .c1.searchable Shuriken
          .c2 Martial
          .c3 1d4
          .c4 1gp
          .c5 3/12
    include /footer.pug
