.pages {
  header.intro {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $primary;

    h1 {
      max-width: none;
      color: $white;
    }

    h2 {
      max-width: none;
      color: $secondary;
      text-transform: uppercase;
      font-size: 14px;
      margin: 5px;
    }

    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}
