doctype html
html
  head
    title Rules - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-gods
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Custom rules/sayings

    .container.divider
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .container
      //include /search.pug
      ul.sayings
        li.saying
          h3 In #[span] the #[span] cloud
          h4 Custom saying
          p An item can be in the cloud if the item in question is not on a person by definitation, but rather accesible at any time by the group. This is to avoid certain story items to be lost if a certain player isn't present. This way, the party has everything that they need at any time. This rule doesn't apply to common items and can only be used in a neutral way. They party can't share potions this way for instance.
        li.saying
          h3 Exp #[span] and #[span] leveling
          h4 Custom rule
          p Earning exp is not limited to just combat. The party earns experience via combat, social interactions and trevelaing parts of the story. Progression is rewarded, even if combat is avoided. This is to reward out of the box thinking when met with a difficult situation. Custom lvl'ing caps are also in place:
          p
            | Lvl 1
            span 0
          p
            | Lvl 2
            span 1.000
          p
            | Lvl 3
            span 3.000
          p
            | Lvl 4
            span 7.500
          p
            | Lvl 5
            span 15.000
          p
            | Lvl 6
            span 25.000
          p
            | Lvl 7
            span 45.000
          p
            | Lvl 8
            span 75.000
          p
            | Lvl 9
            span 120.000
          p
            | Lvl 10
            span 170.000
          p
            | Lvl 11
            span 225.000
          p
            | Lvl 12
            span 290.000
          p
            | Lvl 13
            span 360.000
          p
            | Lvl 14
            span 440.000
          p
            | Lvl 15
            span 530.000
          p
            | Lvl 16
            span 630.000
          p
            | Lvl 17
            span 750.000
          p
            | Lvl 18
            span 875.000
          p
            | Lvl 19
            span 1.000.000
          p
            | Lvl 20
            span ??
        li.saying
          h3 Abscence #[span] from #[span] game
          h4 General rule
          p If you can't be present during a session, your charatcer will sit out one session. This means that they will not gain any experience. However, they might experience a custom story line or extra plot, besides the main story. This will be st up by me more commonly if the player was sick or had to cancel for a good reason. Items that your character has that are needed will count as being in the cloud.
        li.saying
          h3 Spell #[span] amount
          h4 Custom rule
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .divider.clear

    include /footer.pug

    // Visuals:
    // - https://www.pinterest.com/pin/380343131009500629/
    // - https://www.pinterest.com/pin/469429961132710143/
    // - https://www.pinterest.com/source/faroldjo.deviantart.com/
    // - https://www.pinterest.com/pin/514817801125289034/
    // - https://www.pinterest.com/source/thiago-almeida.deviantart.com/
    // - https://www.pinterest.com/pin/324259241897354250/
    // - https://www.pinterest.com/pin/532339618445091474/
    // - https://www.google.be/search?biw=1280&bih=629&tbm=isch&sa=1&q=old+npc+dnd&oq=old+npc+dnd&gs_l=img.3...165155.166652.0.166857.0.0.0.0.0.0.0.0..0.0....0...1.1.64.img..0.0.0.imoCN3SGQhY#imgrc=uBXrBqENtDFHLM:
