doctype html
html
  head
    title Rules - Homebrew 5.0 - Solo's Workshop
    include /header.pug
  body.pages.page-gods
    header.intro
      a.logo(href="/")
        img(src="/images/logo_white.png", alt="logo", width="40")
      h2 D&D 5.0 - Homebrew
      h1 Custom rules/sayings

    .container.divider
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .container
      //include /search.pug
      ul.sayings
        li.saying
          h3 In #[span] the #[span] cloud
          h4 Saying
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li.saying
          h3 Exp #[span] and #[span] leveling
          h4 Custom rule
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li.saying
          h3 Abscence #[span] from #[span] game
          h4 General rule
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li.saying
          h3 In #[span] the #[span] cloud
          h4 Something in lightgrey
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .divider.clear

    include /footer.pug

    // In the cloud
    // Healing
    // Lvl'ing exp
    // Abscence
    // Spell amount
    // Visuals:
    // - https://www.pinterest.com/pin/380343131009500629/
    // - https://www.pinterest.com/pin/469429961132710143/
    // - https://www.pinterest.com/source/faroldjo.deviantart.com/
    // - https://www.pinterest.com/pin/514817801125289034/
    // - https://www.pinterest.com/source/thiago-almeida.deviantart.com/
    // - https://www.pinterest.com/pin/324259241897354250/
    // - https://www.pinterest.com/pin/532339618445091474/
    // - https://www.google.be/search?biw=1280&bih=629&tbm=isch&sa=1&q=old+npc+dnd&oq=old+npc+dnd&gs_l=img.3...165155.166652.0.166857.0.0.0.0.0.0.0.0..0.0....0...1.1.64.img..0.0.0.imoCN3SGQhY#imgrc=uBXrBqENtDFHLM:
