.footer
  .container
    a.logo(href="/")
      img(src="/images/logo_white.png", alt="logo", width="40")
    .link-list
      .link
        a(href="/feats")
          .icon
            img(src="/images/icons/core/feather.svg", height="25")
          h3 Feats
      .link
        a(href="/deities")
          .icon
            img(src="/images/icons/core/bookmark.svg", height="25")
          h3 Deities
      .link
        a(href="/weapons")
          .icon
            img(src="/images/icons/core/target.svg", height="25")
          h3 Weapons
      .link
        a(href="/armor")
          .icon
            img(src="/images/icons/core/award.svg", height="25")
          h3 Armor
      .link
        a(href="/spells")
          .icon
            img(src="/images/icons/core/share-2.svg", height="25")
          h3 Spells
      .link
        a(href="/rules")
          .icon
            img(src="/images/icons/core/layers.svg", height="25")
          h3 Custom rules/sayings
      .link
        a(href="/table")
          .icon
            img(src="/images/icons/core/flag.svg", height="25")
          h3 Table rules
    img(src="/images/bottom.png", class="bottom", alt="bottom", width="400")
script(src="/js/vendor.min.js")
script(src="/js/main.min.js")
