.grid
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/", alt="")
      h3 Something
      p
        | Text
        span More text
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/", alt="")
      h3 Something
      p
        | Text
        span More text
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/", alt="")
      h3 Something
      p
        | Text
        span More text
