.grid
  .grid-item
    a(href="/feats", class="grid-c")
      .icon
        img(src="/images/icons/core/feather.svg", height="25")
      h3 Feats
      p List of all available feats
      span 56
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/", alt="")
      h3 Deities
      p List of all common deities
      span 120
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/", alt="")
      h3 Weapons
      p All melee & ranged weapons
      span 45
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/", alt="")
      h3 Armor
      p All armor(s)
      span 12
