.grid
  .grid-item
    a(href="/feats", class="grid-c")
      .icon
        img(src="/images/icons/core/feather.svg", height="25")
      h3 Feats
      p List of all available feats
      span 41
  .grid-item
    a(href="/deities", class="grid-c")
      .icon
        img(src="/images/icons/core/bookmark.svg", height="25")
      h3 Deities
      p List of all common deities
      span 25
  .grid-item
    a(href="/languages", class="grid-c")
      .icon
        img(src="/images/icons/core/flag.svg", height="25")
      h3 Languages
      p List of all languages
      span 17
  .grid-item
    a(href="/packs", class="grid-c")
      .icon
        img(src="/images/icons/core/box.svg", height="25")
      h3 Packs
      p List of all packs
      span 7
  .grid-item
    a(href="/tools", class="grid-c")
      .icon
        img(src="/images/icons/core/life-buoy.svg", height="25")
      h3 Tools
      p List of all tools
      span 17
  .grid-item
    a(href="/weapons", class="grid-c")
      .icon
        img(src="/images/icons/core/target.svg", height="25")
      h3 Weapons
      p All melee & ranged weapons
      span 38
  .grid-item
    a(href="/armor", class="grid-c")
      .icon
        img(src="/images/icons/core/award.svg", height="25")
      h3 Armor
      p All armor(s)
      span 39
  .grid-item
    a(href="/spells", class="grid-c")
      .icon
        img(src="/images/icons/core/share-2.svg", height="25")
      h3 Spells
      p List of all available spells
      span 410
  .grid-item
    a(href="/rules", class="grid-c")
      .icon
        img(src="/images/icons/core/layers.svg", height="25")
      h3 Custom rules/sayings
      p List of homerules
      span 4
  //.grid-item
    a(href="/table", class="grid-c")
      .icon
        img(src="/images/icons/core/flag.svg", height="25")
      h3 Table rules
      p At the table you...
      span ??
