.grid
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/core/activity.svg", height="25")
      h3 Amafrey
      span Barbarian
      p The Brute
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/core/book.svg", height="25")
      h3 Calzu
      span Warlock
      p The Entertainer
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/core/anchor.svg", height="25")
      h3 Macros
      span Warlock
      p The Pirate
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/core/zap.svg", height="25")
      h3 Shen
      span Monk
      p The Ninja
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/core/star.svg", height="25")
      h3 Tharlo
      span Paladin
      p The Holy Warrior
  .grid-item
    a(href="/", class="grid-c")
      .icon
        img(src="/images/icons/core/user.svg", height="25")
      h3 Tom
      span Wizard
      p The Necromancer
