.search-block
  .search-field
    input(placeholder="Search for a topic")
    .search
      img(src="/images/icons/core/search.svg", alt="")
    .clear
      img(src="/images/icons/core/x.svg", alt="")
