.small-divider
h3 General documents
.grid
  .grid-item
    a(href="https://www.dropbox.com/s/bhni1dojlovtve3/d%26d_intro_without_dm.pdf?dl=0", target="_blank" class="grid-c")
      .icon
        img(src="/images/icons/core/file.svg", height="25")
      h3 Introduction
      p Character creation
      span for Askar
  .grid-item
    a(href="https://www.dropbox.com/s/ordbuuxhz0dz5vu/calend.pdf?dl=0", target="_blank" class="grid-c")
      .icon
        img(src="/images/icons/core/calendar.svg", height="25")
      h3 Calendar
      p Custom calendar
      span for Askar
  .clear
.small-divider
h3.clear The player (sheets)
.grid
  .grid-item
    a(href="https://www.dropbox.com/s/bhkeglg0wl3u9eq/d%26d-sheets%20-%20Amafrey.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/activity.svg", height="25")
      h3 Amafrey
      span Barbarian
      p The Brute
  .grid-item
    a(href="https://www.dropbox.com/s/2fvs7zq3avnj58d/d%26d-sheets%20-%20Calzu.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/book.svg", height="25")
      h3 Calzu
      span Warlock
      p The Entertainer
  .grid-item
    a(href="https://www.dropbox.com/s/pl4jrs3bla2q83l/d%26d-sheets%20-%20Macros.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/anchor.svg", height="25")
      h3 Macros
      span Warlock
      p The Pirate
  .grid-item
    a(href="https://www.dropbox.com/s/cxcmwlabtcu45f3/d%26d-sheets%20-%20Shen.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/zap.svg", height="25")
      h3 Shen
      span Monk
      p The Ninja
  .grid-item
    a(href="https://www.dropbox.com/s/plyotgnjtgm6x22/d%26d-sheets%20-%20Tharlo.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/star.svg", height="25")
      h3 Tharlo
      span Paladin
      p The Holy Warrior
  .grid-item
    a(href="https://www.dropbox.com/s/fx6ambhq0dkwu5z/d%26d-sheets%20-%20Tom.pdf?dl=0", target="_blank", class="grid-c")
      .icon
        img(src="/images/icons/core/user.svg", height="25")
      h3 Tom
      span Wizard
      p The Necromancer
